// Body
$body-bg: #F8F9FD;

$enable-responsive-font-sizes: true;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:        #3490dc;
$indigo:      #6574cd;
$purple:      #9561e2;
$pink:        #f66d9b;
$red:         #e3342f;
$orange:      #f6993f;
$yellow:      #ffed4a;
$green:       #38c172;
$teal:        #4dc0b5;
$cyan:        #6cb2eb;
$mexicano:    #9d2449;

$primary:       $mexicano !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          #525f7f !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$display5-size: 2.5rem !default;
$display6-size: 1.5rem !default;

$display5-weight: 300 !default;
$display6-weight: 300 !default;